body{
  background-color: #666666;
  background-image: url();
  font-family: 'Indie Flower', cursive;
}
header{
  background-image: url('http://25.media.tumblr.com/tumblr_m7cu2tgaRh1rau7xjo1_1280.jpg');
  background-size: cover;
  padding: 10px auto 0 auto;
  margin: 0;
  width: 100%;
  height: 200px;
}
nav{
  padding-top: 15px;
  padding-left: 10px;
}
nav li{
  color: #FFFFFF;
  display: inline;
  padding-right: 20px;
}
h1{
  text-align: center;
  color: #FFFFFF;
  font-size: 300%
}
.AboutMe{
  color: #FE99CE;
  background-color: #000000;
  border: 10px solid #000000;
  margin: 50px auto 0 auto;
  width: 900px;

}
h2{
  color: #FE99CE;
  background-color: #000000;
  border: 10px solid #000000;
  margin: 50px auto 50px auto;
  width: 900px;
  text-align: center;
}
p{
  background-color: #AAAAAA;
  padding-bottom: 100px;
  border: 10px solid #AAAAAA;
  margin: 0 auto 0 auto;
  width: 900px;
  font-size: 20px;
}
h3{
  color: #FE99CE;
  background-color: #000000;
  border: 10px solid #000000;
  margin: 50px auto 0 auto;
  width: 440px;
  text-align: center;
}
h4{
  color: #000000;
  background-color: #DDDDDD;
  border: 10px solid #DDDDDD;
  margin: 50px auto 0 auto;
  width: 440px;
}
h5{
  color: #FFFFFF;
  font-size: 20px;
  background-color: #888888;
  border: 10px solid #888888;
  margin: 50px auto 0 auto;
  width: 220px;
}
.bio{
  background-color: #AAAAAA;
  padding-bottom: 50px;
  border: 10px solid #AAAAAA;
  margin: 0 auto 0 auto;
  width: 400px;
  font-size: 20px;
}
.expie{
  background-color: #AAAAAA;
  border: 10px solid #AAAAAA;
  margin: 0 auto 0 auto;
  width: 440px;
  height: 50px;
  font-size: 20px;
}
.rence{
  background-color: #888888;
  border: 10px solid #888888;
  margin: 0 auto 0 auto;
  width: 440px;
  height: 50px;
  font-size: 20px;
  background-color: #888888;
  border: 10px solid #888888;
  margin: 0 auto 0 auto;
  width: 440px;
  height: 50px;
  font-size: 20px;  
}
.MainPage{
  background-color: #DDDDDD;
  border: 10px solid #DDDDDD;
  margin: 0 auto 0 auto;
  width: 440px;
  height: 50px;
  font-size: 20px;
}
.MainPageBlog{
  background-color: #AAAAAA;
  border: 10px solid #AAAAAA;
  margin: 0 auto 0 auto;
  width: 440px;
  height: 50px;
  font-size: 20px; 
}
section .link{
  color: #FFFFFF;
  font-size: 20px;
  background-color: #666666;
  width: 110px;
  background-position: bottom right;
}
img{
  background-color: #AAAAAA;
  border: 10px solid #AAAAAA;
  margin: 0 auto 0 auto;
  width: 440px;
  height: 300px;
}
.about{
  background-color: #AAAAAA
}
.projects{
  width: 440px;
  margin: 0 auto 0 auto;
}
.contact{
  background-color: #AAAAAA;
  border: 10px solid #AAAAAA;
  margin: 50px auto 50px auto;
  width: 900px;
  text-align: center;
}
.socialmedia img{
  width: 50px;
  height: 50px;
}
.socialmedia{
  margin: 40px 5px 40px 5px;
}
.map{
  width: 70%;
  background-color: #DDDDDD;
  border: 10px solid #DDDDDD;
  margin:0 auto 50px 150px;
}